.about{
    padding-top: 30px;
}

.info-box {
    color: #444;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    margin-left: 10%;
    margin-right: 10%;
}

.info-box:hover {
    border-color: #cfcece;
}

.info-box-h3 {
    text-align: center;
    font-size: 20px;
    color: #666;
    font-weight: 700;
}

.info-box-p {
    text-align: justify;
    line-height: 24px;
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
}