.product-image {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    height: 250px;
}

.catalog-product-name {
    text-decoration: none;
    font-family: "Roboto Slab", Helvetica, Tahoma, Arial, serif;
    font-weight: 1;
    font-variant: small-caps;
    color: #444444;
}

.ava-size{
    font-family: "Roboto Slab", Helvetica, Tahoma, Arial, serif;
    font-size: 12px;
    max-width: 170px;
}

.catalog-current {
    padding: 10px;
    margin: 10px;
}

.item {
    margin: 0 0 30px;
    text-align: center;
    position: relative;
}

.collection-header {
    margin-bottom: 20px;
}

.collection-hero {
    position: relative;
    overflow: hidden;
}

.collection-hero-img-container {
    height: 250px;
    opacity: 1;
}

.collection-hero-image {
    width: 100%;
}

.catalog-sidebar{
    margin: 10px 0 10px 30px;
}

.sidebar-h2 {
    margin-bottom: 20px;
    margin-left: 11%;
    font-size: 20px;
}

.form-container{
    margin-left: 11%;
}

.form-container label,
.form-container input{
    cursor: pointer;
    margin-bottom: 6px;
    font-size: 15px;
}

.form-container input{
    accent-color: #504f4f;
}


.form-container label:hover,
.form-container input:hover{
    color: #a9a7a7;
}

.clear-filter-btn{
    cursor: pointer;
    box-sizing: border-box;
    border-color: rgb(0, 0, 0);
    border: 1px solid #a9a7a7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 1;
    display: block;
    margin: 5px;
    margin-left: 1%;
}

.catalog-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.flex-container {
    display: flex;
}

.pagination {
    width: 100%;
    text-align: center;
    list-style: none;
    font-size: 1.15385em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pagination-ul {
    display: block;
    text-indent: 3px;
}

.pagination-li {
    display: inline-block;
}

.pagination-a {
    font-size: 12px;
    height: 30px;
    width: 30px;
    line-height: 28px;
    display: inline-block;
    border: 1px solid #444444;
    color: #444444;
    vertical-align: middle;
    text-decoration: none;
}