.catalog-sidebar {
    margin: 10px 0 10px 40px;
    width: 10%;
}

.sidebar-h2 {
    margin-bottom: 20px;
    margin-left: 11%;
    font-size: 20px;
}

.form-container {
    margin-left: 11%;
}

.form-container label,
.form-container input {
    cursor: pointer;
    margin-bottom: 6px;
    font-size: 15px;
}

.form-container input {
    accent-color: #504f4f;
}


.form-container label:hover,
.form-container input:hover {
    color: #a9a7a7;
}

.clear-filter-btn {
    cursor: pointer;
    box-sizing: border-box;
    border-color: rgb(0, 0, 0);
    border: 1px solid #a9a7a7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 1;
    display: block;
    margin: 5px;
    margin-left: 1%;
}