.check-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 70px;
}

.customer-info {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
}

.cust-head {
    grid-column-start: 1;
    grid-column-end: 3;
}

.check-table th {
    background-color: #fff;
    font-size: 13px;
    padding: 8px 5px 5px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.check-head{
    text-align: center;
}

.container{
    
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.check-table td {
    font-size: 13px;
    padding: 8px 5px 5px;
    width: 10%;
}

.btn-rem {
    cursor: pointer;
}

.check-container label {
    margin-bottom: 50px;
}

.check-container input,
.check-container select {
    margin: 3px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 50%;
}

.billing-fields {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    margin-bottom: 10px;
}

.order-button-payment-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    font-family: Poppins, Helvetica, Tahoma, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    cursor: pointer;
    width: 13%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.check-table{
    margin-bottom: 30px;
}

.trash{
    width: 10px;
    height: auto;
}

.check-table a {
    color: #000;
}

.quantity {
    margin: 0 10px 0 10px;
    cursor: pointer;
    border: none;
}

.check-table input{
    width: 30px;
    border: 1px solid #ddd;
    padding: 2px 5px 2px 5px;
}